[Unit]
Description=System and network monitor using GFX HAT
After=multi-user.target

[Service]
Type=simple
KillSignal=SIGINT
ExecStart=/usr/bin/python3 /home/pi/gfx-monitor/monitor.py

[Install]
WantedBy=multi-user.target